<div class="row mb-2">
  <h3>
    Exams
  </h3>
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-warning" role="alert" *ngIf="noData">
      No data
    </div>
    <div class="table-responsive" *ngIf="!noData">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Line</th>
            <th>Vendor</th>
            <th>Seniority</th>
            <th>Software</th>
            <th>Difficulty</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exam of exams">
            <td>{{ exam.id }}</td>
            <td>{{ exam.line }}</td>
            <td>{{ exam.vendor }}</td>
            <td>{{ exam.seniority }}</td>
            <td>{{ exam.software }}</td>
            <td>
              <ul class="list-inline rating-list" *ngFor="let n of getTotalStars()" style="display: inline-block">
                <li><i class="fa fa-star" [ngClass]="{'filled': (exam.difficulty > n)}"></i></li>
              </ul>
            </td>
            <td>{{ exam.createdDate | date:'dd/MM/yyyy' }}</td>
            <td>{{ exam.modifiedDate | date:'dd/MM/yyyy hh:mm:ss' }}</td>
            <td class="btn-group-sm">
              <button class="btn btn-link" placement="top" ngbTooltip="View" [routerLink]="['.', exam.id]">
                <span class="fa fa-eye"></span>
              </button>
              <button class="btn btn-link" placement="top" ngbTooltip="Edit" [routerLink]="['.', exam.id, 'edit']">
                <span class="fa fa-edit"></span>
              </button>
              <button class="btn btn-link" placement="top" ngbTooltip="Delete">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-link" placement="top" ngbTooltip="View as candidate"
                [routerLink]="['.', exam.id, 'candidate']">
                <span class="fa fa-vial"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-flex justify-content-between p-2">
      <div>
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshExams()"></ngb-pagination>
      </div>
      <div>
        <select class="custom-select" [(ngModel)]="pageSize" (ngModelChange)="refreshExams()">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="15">15 items per page</option>
        </select>
      </div>
      <div>
        <button class="btn btn-xs btn-primary">
          <span class="fa fa-plus"></span> New
        </button>
      </div>
    </div>
  </div>
</div>
