<form [formGroup]="formGroup" class="content-container" (ngSubmit)="onSubmit()">
  <h4>QCM</h4>
  
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step formGroupName="firstFormGroup" [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Question</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step formGroupName="secondFormGroup" [stepControl]="secondFormGroup" label="Question">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step formGroupName="thirdFormGroup" [stepControl]="thirdFormGroup" label="Question">
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput formControlName="thirdCtrl" placeholder="23 years old"
                required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>

